:root {
  --blue: #4d7aaf;
}

* {
  font-family: "Scada", sans-serif;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Scada", sans-serif;
  width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.main {
  margin-top: 10vh;
  height: 100%;
  width: 100%;
}

.navbar {
  width: 100%;
  height: 10%;
  background-color: transparent;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: fixed;
  top: 0;
  z-index: 100;
  transition: 0.5s ease-in;
  letter-spacing: 1px;
}

.navbar.active {
  background-color: rgb(255, 255, 255);
  transition: 0.5s ease-in;
  color: #401f5f;
}

.navbar ul {
  list-style: none;
  text-align: center;
  display: block;
  padding-left: 0;
}

.navbar ul>* {
  display: inline;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.5rem;
  margin: 0 20px;

}

.footer {
  width: 100%;
  height: auto;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #45295e;
  font-size: 19px;
  padding: 5px 0;
  font-weight: 500;
  

}

.hero-section {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.background {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  object-fit: stretch;
  filter: brightness(30%);
  z-index: -1;
  box-shadow: 10px 10px  200px purple;
}

.text {
  font-family: "Scada", sans-serif;
  width: 70%;

}

.text p {
  font-size: 4rem;
  font-weight: 800;
  color: white;
  text-shadow: 5px 5px 50px rgb(78, 8, 78);
}

.text button {
  background-color: white;
  border-radius: 10px;
  padding: 10px 15px;
  color: #361852;
  width: auto;
  font-size: 2rem;
  font-weight: 600;
  font-family: "Scada", sans-serif;
  margin-top: 30px;
}

.logo {}

.cart-div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.cart {
  font-size: 35px;
}

.num-of-items {
  position: absolute;
  top: -30%;
  right: -30%;
  font-size: 15px;
  padding: 5px;
  z-index: 100;
  border-radius: 50%;
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  width: 1.7rem;
  height: 1.7rem;
  letter-spacing: 1px;
}

.about-products {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  
}

.product-info {
  height: 70%;
  width: 30%;
  background-color: #4e2d5a;
  border-radius: 10px;
  padding: 15px;
  display: flex;
  box-shadow: 1px 1px 100px rgb(181, 181, 181);
  opacity: 0.9;
  flex-direction: column;
  justify-content: space-evenly;
}

.product-info p {
  font-size: 1.7em;
  color: white;
  font-family: "Scada", sans-serif;
}

.video {
  width: 100%;
  height: auto;
}

/****Procuts page styling****/
.products-page {
  width: 100%;
  min-height: 100vh;
  background-color: white;
  margin-top: 25vh;
}

.products-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  width: 100%;
  height: auto;
  background-color: white;
  margin:0 auto;


}

.products {
  width: 90%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 20px;
  overflow: hidden;
}

.product {
  background-color: transparent;
  border-radius: 10px;
  box-shadow: 0 0 10px #a697b3;
  padding: 5px 15px;
  width: 23%;
  height: 25em;
  margin: 1%;
  position: relative;
}

.product img {
  width: 100%;
  height: 55%;
  object-fit: contain;
}

.product h3 {
  text-transform: capitalize;
  color: #401f5f;
  font-size: 1.5rem;
  text-align: center;
}

.prize-cart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  position: absolute;
  bottom: 5px;
}

.prize-cart div {
  background-color: #714598;
  padding: 10px;
  font-size: 1.5rem;
  border-radius: 50%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.prize-cart p {
  font-size: 1.5em;
}

.select-bar {
width:90%;
  height: 5vh;
  display: flex;
  flex-direction: row;
  position: fixed;
  justify-content: space-evenly;
  margin-bottom: 10px;
  background-color: white;
  position: fixed;
  top:20vh;
  z-index: 1;
  left:50%;
  transform: translateX(-50%);

}
.select-bar .not-active{
padding:5px 15px;
font-size: 20px;
height:100%;
width:15%;
border:1px solid #714598;
background-color: #714598;
border-radius: 5px;
box-shadow: 1px 2px 5px #714598;
color: white;
letter-spacing: 1px;
box-shadow: 0 0 50px #714598;
}
.active-btn{
  padding:5px 15px;
  font-size: 20px;
  height:100%;
  width:15%;
  border:1px solid #714598;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 1px 2px 5px #714598;
  color: #714598;
  letter-spacing: 1px;
  box-shadow: 0 0 50px #714598;
  transition: ease-in-out 0.2s;
}

.select-bar img {
  width: 70%;
  height: 50%;
  margin: 50% 0;
}

.search-holder {
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  position: fixed;
  top: 0;
  z-index: 1;
  margin-top: 10vh;
}

.search {
  border-radius: 10px;
  border: 2px solid #714598;
  background-color: #714598;
  width: 25%;
  position: relative;
  color: white;
  margin: 0 30px;

}

.search input {
  padding: 10px;
  width: 80%;
  height: 100%;
  margin-left: 10%;
  font-size: 18px;
  border: none;
  color: white;
  background: transparent;
  letter-spacing: 1px;
}

.search input::placeholder {
  color: white;
  font-weight: 700;
}

.search input:focus {
  outline: none;
}

.search-icon {
  font-size: 30px;
  color: white;
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
}

/****Product page styling****/

.product-page {
  margin: 0 auto;
  width: 100%;
  height: 100vh;
  margin-top: 30vh;
  display: flex;
  justify-content: space-around;
}

.product-images {
  width: 45%;
  height: 80%;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
}

.main-image {
  padding: 10px;
  width: 100%;
  height: 70%;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  box-shadow: 0 0 20px #8d57b6;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-image img {
  width: 100%;
  height: 80%;
  object-fit: contain;
}

.other-images {
  width: 100%;
  height: 11%;
  display: flex;
}

.other-images img {
  width: 12%;
  height: 100%;
  object-fit: contain;
  display: block;
  border-radius: 10px;
  margin: 0 10px;
  padding: 10px;
}

.selected {
  border: 1px solid #714598;
  transition: 1s ease-in;
}

.about-product-container {
  width: 35%;
  padding: 10px;
  font-size: 1.3rem;
  height: 80%;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  flex-direction: column;
}

.about-product-container h1 {
  margin: 0;
  padding: 0;
}

.about-product-text {
  height: 50%;
  overflow-y: scroll;
}

.about-product-container p {
  line-height: 30px;
  font-size: 1.3rem;
}

.add-to-list {
  display: flex;
  height: 10%;
}

.amount-select {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 5px;
  box-shadow: 0 0 5px #b8a5ca;
}

.amount-select input {
  width: 50%;
  text-align: center;
  border: none;
  font-size: 1.5rem;
}

.amount-select div {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.add-to-list button {
  background-color: #714598;
  border-radius: 10px;
  border: none;
  color: white;
  font-size: 1rem;
  width: 30%;
  margin: 0 20px;
}

.about {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.about-technos {
  margin-top: 50px;
  width: 90%;
  display: flex;
  justify-content: space-evenly;


}

.about-technos h1,
.emp-h1 {
  font-size: 3rem;
  color: #401f5f;

}

.about-technos p {
  font-size: 1.5rem;
  line-height: 50px;
  width: 70%;
}

.about-technos img {
  width: 50%;
  border-radius: 20px;
  border: 5px solid #714598;
  height: auto;
}
.employees-container{
  width:90%;
  margin-top: 50px;
}
.employees {
  width: 100%;
  height: auto;
  background-color: #714598;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: white;
  text-align: center;
  padding: 20px
}

.employees img {

  border-radius: 50%;
  border: 3px solid white;
  margin-top: 10px;
}

.contact  {
  margin: 50px 0;
  width: 90%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  font-size: 2rem;


}
.contact .contact-form{
  background:url('../assets/footer-pic.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius:20px;
  width:100%;height:auto;


}
.contact-info{
  background-color: rgb(253, 195, 255);
  width:20%;
  margin:20px;
  padding:20px;
  border-radius: 20px;
  opacity: 1;
  position:relative;
  
  z-index: 1;
  
}

.contact-info div{
  margin-top: 50px;
}
.contact-h1{
  font-size: 3rem;
  color: white;
  width:20%;
  text-align: center;
  margin-left: 10px;
  
}


/*****Cart page styling******/

.cart-page{
  min-height: 100vh;
  width:90%;
  padding: 20px 0;
  margin:0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cart-products{
  width:50%;
  border-radius: 10px;
  padding:10px;
  height:auto;
  display: flex;
  flex-direction: column;

  
}
.cart-item{
  display: flex;
  align-items: center;
  background-color: #7d52a2;
  border-radius: 12px;
  justify-content: space-between;
  padding:0 20px;
  margin:20px 0;
}
.cart-item p{
font-size: 23px;
color: white;
font-weight: 700;
padding-left: 10px;
}
.cart-item img{
  width: 25%;
  height: 150px;
  border-radius: 12px;
  background-color: transparent;
}
.cart-page .info-text{
  color:#361852;
  margin-top:5%;

}
.total{
  font-size: 30px;
  
}

.no-result{
  text-align: center;
  color:#361852;
  display:block;
  margin: 5% auto;;
}